[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
antlr4-python3-runtime = "*"
arrow = "*"
cloudpickle = "*"
coloredlogs = "*"
cython = "*"
dask = "*"
distributed = "*"
fastapi = "*"
grpcio = "*"
numpy = "*"
pandas = "*"
protobuf = "*"
pyinstaller = "*"
uvicorn = "*"
zstandard = "*"

[requires]
python_version = "3.12"
